<?xml version="1.1"?>
<launch>

    <arg name="robot_namespace_robot1" default="/"/>
    <arg name="world_name" default="$(find limo_gazebo_sim)/worlds/personalised.world"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro '$(find limo_description)/urdf/limo_four_diff.xacro'
        robot_namespace:=$(arg robot_namespace_robot1)" />
    
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <node pkg="tf" type="static_transform_publisher" name="map_to_odom_broadcaster" args="0 0 0 0 0 0 map odom 10000" />
    <node pkg="tf" type="static_transform_publisher" name="map_to_footprint_broadcaster" args="0 0 0 0 0 0 odom base_footprint 10000" />
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link_broadcaster" args="0 0 0 0 0 0 base_footprint base_link 10000" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_broadcaster" args="0 0 0 0 0 0 base_link laser_link 10000" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_fl_wheel_broadcaster" args="0 0 0 0 0 0 base_link front_left_wheel_link 10000" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_fr_wheel_broadcaster" args="0 0 0 0 0 0 base_link front_right_wheel_link 10000" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_rl_wheel_broadcaster" args="0 0 0 0 0 0 base_link rear_left_wheel_link 10000" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_rr_wheel_broadcaster" args="0 0 0 0 0 0 base_link rear_right_wheel_link 10000" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_inertial_broadcaster" args="0 0 0 0 0 0 base_link inertial_link 10000" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_broadcaster" args="0 0 0 0 0 0 base_link imu_link 10000" />



    <node name="spawn_limo_model" pkg="gazebo_ros" type="spawn_model" args="-x $(arg x)
            -y $(arg y)
            -z $(arg z)
            -Y $(arg yaw)
            -unpause
            -urdf
            -param robot_description
            -model 'limo$(arg robot_namespace_robot1)'" />
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find limo_gazebo_sim)/config/limo_four_diff_control.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen" args="limo_state_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
