<?xml version="1.1"?>
<launch>

    <!--  ************** Navigation ***************  -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	  	<rosparam file="$(find cartographer_ros)/configuration_files/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find cartographer_ros)/configuration_files/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find cartographer_ros)/configuration_files/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find cartographer_ros)/configuration_files/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find cartographer_ros)/configuration_files/planner.yaml" command="load" />

		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />
		<param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />
        <param name="clearing_rotation_allowed" value="true" />
	</node>

		<!--  **************** Visualisation ****************  -->
	<node name="rviz_nav" pkg="rviz" type="rviz" args="-d $(find cartographer_ros)/configuration_files/navigation_diff.rviz"/>    

</launch>
