*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-image: url("./background.jpg");
  margin: 0;
}

.toolbar {
  overflow: hidden;
  background-color: #4f312b;
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
  font-weight: bold;
}

.toolbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.toolbar a:hover {
  background-color: #ddd;
  color: black;
}

.toolbar a.active {
  background-color: #a24036;
  color: white;
}